@model IncidentListViewModel
@{
    ViewData["Title"] = "incident Manager";
}
<h1> Incident Manager </h1>

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link @(Model.Filter == "all" ? "active" : "")" href="/incidents/all/"> All Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Filter == "unassigned" ? "active" : "")" href="/incidents/unassigned/"> Unassigned Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Filter == "open" ? "active" : "")" href="/incidents/open/"> Open Incidents</a>
    </li>
</ul>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
        </tr>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.CustomerName
                </td>
                <td>
                    @incident.ProductName
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>