@model IncidentListViewModel
@using Microsoft.AspNetCore.Http
@{
    int? technicianId = Context.Session.GetInt32("TechnicianID");
    if (technicianId.HasValue) { Context.Session.Remove("TechnicianID"); }
}
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
        </tr>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.CustomerName
                </td>
                <td>
                    @incident.ProductName
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>