@model IncidentListViewModel
<<<<<<< Updated upstream
=======
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "incident Manager";
  int? technicianId = Context.Session.GetInt32("TechnicianID");
    if (technicianId.HasValue) { Context.Session.Remove("TechnicianID"); }
}
<h1> Incident Manager </h1>

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link" href="/incidents/all/" Active-When="/incidents/all/"> All Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/incidents/unassigned/" Active-When="/incidents/unassigned/"> Unassigned Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/incidents/open/" Active-When="/incidents/open/"> Open Incidents</a>
    </li>
</ul>



>>>>>>> Stashed changes
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
        </tr>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.CustomerName
                </td>
                <td>
                    @incident.ProductName
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>