@model List<Incident>
<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
            </tr>
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.CustomerID
                </td>
                <td>
                    @incident.ProductID
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Update" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>