@model RegistrationViewModel
@using System.Linq
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Registrations for @Model.Customer.FullName</h2>

@if (!Model.RegisteredProducts.Any())
{
    <p> No Registered Products for this Customer. </p>
}
else
{
    <table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Products</th>
        </tr>
        @foreach (var product in Model.RegisteredProducts)
        {
            <tr>
                <td>
                    @product.Name
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="customerID" value="@Model.Customer.CustomerID"/>
                        <input type="hidden" name="productID" value="@product.ProductID" />
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </table>
}

<form asp-action="RegisterProduct" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    
    <input type="hidden" name="customerID" value="@Model.Customer.CustomerID" />
    <div class="form-group">
    <select name="productID" class= "form-control">
        <option value=""> Select a Product</option>
        @foreach (var product in Model.AvailableProducts ?? new List<Product>())
        {
            <option value="@product.ProductID">@product.Name</option>
        }
    </select>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>