@model List<Product>
@if (TempData.Keys.Contains("delete"))
{
    <h3>
        @TempData["delete"]
    </h3>
}
@if (TempData.Keys.Contains("add"))
{
    <h3>
        @TempData["add"]
    </h3>
}
@if (TempData.Keys.Contains("updated"))
{
    <h3>
        @TempData["updated"]
    </h3>
}
@using Microsoft.AspNetCore.Http
@{
    int? technicianId = Context.Session.GetInt32("TechnicianID");
    if (technicianId.HasValue) { Context.Session.Remove("TechnicianID"); }
}

<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.ProductCode
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.YearlyPrice
                </td>
                <td>
                    @product.ReleaseDate
                </td>
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductID" type="button" class="btn btn-primary">Delete</a>
                </td>                    
                }

            </tr>
        }
    </tbody>
</table>
<a asp-controller="Product" asp-action="Add" class="btn btn-primary">Add Product</a>