@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<SportsPro.Models.Technician>


<h2>Technician List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var tech in Model)
        {
            <tr>
                <td>@tech.Name</td>
                <td>@tech.Email</td>
                <td>@tech.Phone</td>
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                <td>
                    <a asp-controller="Technician" asp-action="Edit" asp-route-id="@tech.TechnicianID"
                       class="btn btn-primary">Edit</a>
        
                    <a asp-controller="Technician" asp-action="Delete" asp-route-id="@tech.TechnicianID"
                       class="btn btn-primary ml-3">Delete</a>
                </td>                    
                }


            </tr>
        }

        <tr>
            <td>
                <a asp-controller="Technician" asp-action="Add"
                   class="btn btn-primary">Add Technician</a>
            </td>
        </tr>
    </tbody>
</table>
